!/src/*
!/src/*.java
!/src/*.g4
/tests/*.*
/src/SysYLexer.interp
/src/SysYLexer.tokens
/src/SysYParser.interp
/src/SysYParser.tokens
/src/SysYLexerBaseListener.java
/src/SysYLexerBaseVisitor.java
/src/SysYParserBaseListener.java


/classes
.DS_Store
/out
/.idea
/Lab.iml

